<section class="class">
    <div class="classcontent">
        <h2>All Classes</h2><br>
        <!-- <a href="#" class="btn bg-warning" >Find New Classes</a>&nbsp;     -->
        
        <div class="row mt-5">
            <div class="col-lg-3 mb-5" *ngFor="let cl of class">
                <div class="box shadow-lg">
                    <img src="{{cl.image}}" width="100%">
                    <h3 class="mt-2">{{cl.name}}</h3>
                    <p class="mt-2">{{cl.description}}</p>
                    <button class="btn btn-warning mt-2">Enroll Now</button>
                </div>
            </div>
        </div>
    
    </div>
   
</section>