.class{
    background-color: #F4ECF7 ;
    padding: 50px 100px;
}
.box{
    background-color: #ffffff ;
    padding: 10px 20px;
}
@media screen and (max-width:600px){
    .class{
        background-color: #F4ECF7 ;
        padding: 50px 10px;
    }
}