header {
    height: 220px;
    width: 100%;
    background:#05245D;
    overflow: hidden;
}

.class img{
    width: 100%;
    height: 220px;
    object-position: center;
    object-fit: cover;
    opacity: 0.2;
}
.classcontent{
    position: absolute;
    font-family: 'Poppins';
    top: 22%;
    left: 17%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.classcontent h1{
    color:#ffffff;
    font-weight: 500;
    font-size: 35px;
}
.classcontent p{
    color:#ffffff;
    font-size: 13px;
    left: 21%;
}
.classcontent a{
    margin-top: 10px;
}

.yellowtext{
    color: #F1C40F;
}
@media screen and (max-width:600px) {
    .classcontent h1{
        padding-top: 70px;
        padding-left: 10%;
    }
  
    .class img{
        height: 700px;
    }
}
.searchsection{
     padding-left:160px; 
     padding-right:160px; 
}
.subjects{
    background-color: #F4ECF7 ;
    padding: 50px 100px;
    font-family: 'Poppins';
}
/* .box{
    background-color: #ffffff ;
    padding: 10px 20px 30px;
    font-family: 'Poppins';
    text-align: center;
}
.box h4{
    font-weight: 550;
}
.box p{
    font-size: 14px;
}
.box button{
    border: none;
    text-align: center;
   
}
.box button:hover{
    background-color: #7aa6f7;
    color: #ffffff;
    transition: .5s ease;
} */
.form{
    width: 500px;
    padding-left: 129px;
}
/* @media screen and (max-width:600px){
    .sujbets{
        background-color: #F4ECF7 ;
        padding: 50px 10px;
    }
} */

/* card styles */
.section_our_solution .row {
    align-items: center;
    max-width: 100%;
   
 
  }
  
 
  
  .our_solution_category .solution_cards_box {
    
   max-width: 100%;
   margin: auto;
   flex-direction: row;
   justify-items: center;
   justify-content: center;
    
   

  }
  .solution_cards_box .solution_card {
    
    flex: 0 40%;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
      0 5px 15px 0 rgba(37, 44, 97, 0.15);
    border-radius: 15px;
    margin: 8px auto;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 265px;
    transition: 0.7s;
    max-width: 80%;
  }
  
  .solution_cards_box .solution_card:hover {
    background: #2c2c41;
    color: #fff;
    /* transform: scale(1.1);
    z-index: 9; */
  }
  
  .solution_cards_box .solution_card:hover::before {
    background: rgb(85 108 214 / 10%);
  }
  
  .solution_cards_box .solution_card:hover .solu_title h3,
  .solution_cards_box .solution_card:hover .solu_description p {
    color: #fff;
  }
  
  .solution_cards_box .solution_card:before {
    content: "";
    position: absolute;
    background: rgb(85 108 214 / 5%);
    width: 170px;
    height: 400px;
    z-index: -1;
    transform: rotate(42deg);
    right: -56px;
    top: -23px;
    border-radius: 35px;
  }
  
  /* .solution_card .so_top_icon {
  } */
  
  .solution_card .solu_title h3 {
    color: #212121;
    font-size: 1.3rem;
    margin-top: 13px;
    margin-bottom: 13px;
  }
  
  .solution_card .solu_description p {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .our_solution_content h1 {
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
  /* .our_solution_content p {
  } */
  
  .hover_color_bubble {
    position: absolute;
    background: rgb(54 81 207 / 15%);
    width: 100rem;
    height: 100rem;
    left: 0;
    right: 0;
    z-index: -1;
    top: 16rem;
    border-radius: 50%;
    transform: rotate(-36deg);
    left: -18rem;
    transition: 0.7s;
  }
  
  .solution_cards_box .solution_card:hover .hover_color_bubble {
    top: 0rem;
  }
  
  .solution_cards_box .solution_card .so_top_icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .solution_cards_box .solution_card .so_top_icon img {
    width: 40px;
    height: 50px;
    object-fit: contain;
  }
  
  /*start media query*/
  @media screen and (min-width: 320px) {
    .sol_card_top_3 {
      position: relative;
      top: 0;
    }
  
    .our_solution_category {
      width: 100%;
      margin: 0 auto;
    }
  
    .our_solution_category .solution_cards_box {
      flex: auto;
    }
  }
  /* @media only screen and (min-width: 768px) {
    .our_solution_category .solution_cards_box {
      flex: 1;
    }
  }
  @media only screen and (min-width: 1024px) {
    .sol_card_top_3 {
      position: relative;
      top: -3rem;
    }
    .our_solution_category {
      width: 50%;
      margin: 0 auto;
    }
  }
   */