
footer.nb-footer {
    background: #222;
    border-top: 4px solid #F1C40F; }
    footer.nb-footer .about {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1170px;
    text-align: center; }
    footer.nb-footer .about p {
    font-size: 13px;
    color: #999;
    margin-top: 30px; }
    footer.nb-footer .about .social-media {
    margin-top: 15px; }
    footer.nb-footer .about .social-media ul li a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 16px;
    color: #F1C40F;
    border: 1px solid rgba(255, 255, 255, 0.3); }
    footer.nb-footer .about .social-media ul li a:hover {
    background: #F1C40F;
    color: #05245D;
    border-color: #F1C40F; }
    footer.nb-footer .footer-info-single {
    margin-top: 30px; }
    footer.nb-footer .footer-info-single .space1{
    padding-left: 40px;}
    footer.nb-footer .footer-info-single .space2{
    padding-left: 63px;}
    footer.nb-footer .footer-info-single .space3{
    padding-left: 88px;}
    footer.nb-footer .footer-info-single .title {
    color: #aaa;
    text-transform: uppercase;
    font-size: 16px;
    border-left: 4px solid #F1C40F;
    padding-left: 5px; }
    footer.nb-footer .footer-info-single ul li a {
    display: block;
    color: #aaa;
    padding: 2px 0; }
    footer.nb-footer .footer-info-single ul li a:hover {
    color: #F1C40F; }
    footer.nb-footer .footer-info-single p {
    font-size: 13px;
    line-height: 20px;
    color: #aaa; }
    footer.nb-footer .copyright {
    margin-top: 15px;
    background: #111;
    padding: 7px 0;
    color: #999;}
    footer.nb-footer .copyright p {
    margin: 0;
    padding: 0; }

  