       
        
<footer class="nb-footer">
    <div class="container">
    <div class="row">
    <div class="col-sm-12">
    <div class="about">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus autem dolorem sunt voluptatum quidem, inventore soluta? Provident incidunt, dolorum velit quibusdam commodi voluptates, similique quaerat, ea excepturi in esse culpa.</p>
      <div class="social-media">
        <ul class="list-inline">
          <li><a href="#" title="" class="m-3"><i class="fa fa-facebook"></i></a>
          <a href="#" title=""class="m-3"><i class="fa fa-twitter"></i></a>
          <a href="#" title=""class="m-3"><i class="fa fa-google-plus"></i></a>
          <a href="#" title=""class="m-3"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
    </div>
    
    <div class="col-md-3 col-sm-6">
    <div class="footer-info-single">
      <h2 class="title">Ozone College</h2>
      <ul class="list-unstyled">
        <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Home</a></li>
        <li><a href="class" title=""><i class="fa fa-angle-double-right"></i> Classes</a></li>
        <li><a href="about" title=""><i class="fa fa-angle-double-right"></i> About</a></li>
        <li><a href="login" title=""><i class="fa fa-angle-double-right"></i> Login</a></li>
        <li><a href="register" title=""><i class="fa fa-angle-double-right"></i> Register</a></li>
      </ul>
    </div>
    </div>
    
    <div class="col-md-3 col-sm-6">
    <div class="footer-info-single">
      <h2 class="title">Our Streams</h2>
      <ul class="list-unstyled">
        <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Mathematics</a></li>
        <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Science</a></li>
        <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Commerse</a></li>
        <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Art</a></li>
        <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Other</a></li>
      </ul>
    </div>
    </div>
    
    <div class="col-md-3 col-sm-6">
    <div class="footer-info-single">
      <h2 class="title">Contact Us</h2>
      <ul class="list-unstyled">
        <li><a href="" title=""><i class="fa fa-map-marker mr-3"></i>  No:22/B ,Nupe, Matara</a></li>
        <li><a href="" title=""><i class="fa fa-envelope mr-2"></i> ozonecollege@gmail.com</a></li>
        <li><a href="" title=""><i class="fa fa-phone mr-2"></i> + 01 234 567 88</a></li>
        <li><a href="" title=""><i class="fa fa-whatsapp mr-2"></i> + 01 234 567 89</a></li>
      </ul>
    </div>
    </div>
    
    <div class="col-md-3 col-sm-6">
      <div class="footer-info-single">
        <h2 class="title">Opening hours</h2>
        <p>Mon - Thurs<span class="space1"></span>7.30.am - 8.pm</p>
        <p>Fri - Sat<span class="space2"></span>  7.30.am - 7.pm</p>
        <p>Sun<span class="space3"></span> 7.30.am - 6.pm</p>
      </div>
      </div>
      </div>
    </div>
    
    <section class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
             <p class="text-center">Copyright © 2021. Ozone College.</p>
          </div>
          <div class="col-sm-6"></div>
        </div>
      </div>
    </section>
    </footer>
