<div class="my-2 mx-0 d-flex flex-row">
  <button mat-raised-button color="primary" routerLink="../view-payments"><mat-icon>arrow_left</mat-icon>All Payments</button>
</div>

<div class="card">

  <div class="card-header">
    <h5>Edit Payment Details</h5>
    <p class="sub-header">Edit payment details related to any student</p>
  </div>

  <div class="card-body p-0">

    <div class="row mx-0" style="margin: 0; height: 5px">
      <mat-progress-bar [hidden]="!uploadAPaymentProgress" mode="query"></mat-progress-bar>
    </div>

    <form [formGroup]="paymentForm" #paymentFormRef="ngForm">

      <h6 class="m-3">Depositor Details</h6>
      <mat-divider></mat-divider>
      <br />
      <div formGroupName="depositor">
        <div class="row mx-0 px-1">

          <mat-form-field  class="col-4 mx-0 px-1" appearance="outline">
            <mat-label>Registration Number</mat-label>
            <input type="text" matInput formControlName="registrationNumber" placeholder="Ex: 184183R" [readonly]="true">
          </mat-form-field>

          <mat-form-field class="col-8 mx-0 px-1" appearance="outline">
            <mat-label>Full Name</mat-label>
            <input type="text" matInput readonly formControlName="fullName" placeholder="Full Name" [readonly]="true" />
          </mat-form-field>

        </div>

        <div class="row mx-0 px-1">

          <mat-form-field class="col-6 mx-0 px-1" appearance="outline">
            <mat-label>Year</mat-label>
            <input type="text" matInput readonly formControlName="year" placeholder="Academic Year" [readonly]="true" />
          </mat-form-field>

          <mat-form-field class="col-6 mx-0 px-1" appearance="outline">
            <mat-label>Classes</mat-label>
            <mat-select formControlName="classes" multiple>
              <mat-option *ngFor="let _class of _classes" [value]="_class.classID">{{ _class.moduleCode }} | {{ _class.moduleName }} | {{ _class.year }}</mat-option>
            </mat-select>
            <mat-error *ngIf="classes.touched && classes.errors?.required">This field is required.</mat-error>
          </mat-form-field>

        </div>
      </div>

      <div class="row mx-2">
        <div *ngIf="studentIDNotFound" class="alert alert-warning col">No student found with this ID</div>
      </div>

      <h6 class="m-3">Payment Details</h6>
      <mat-divider></mat-divider>
      <br />

      <div formGroupName="deposit">


        <div class="row mx-0 px-1">

          <mat-form-field class="col-6 mx-0 px-1" appearance="outline">
            <mat-label>Bank</mat-label>
            <mat-select formControlName="bankName" required>
              <mat-option *ngFor="let bank of banks" [value]="bank.bankName">{{bank.bankName}}</mat-option>
            </mat-select>
            <mat-error *ngIf="bankName.touched && bankName.errors?.required">This field is required</mat-error>
          </mat-form-field>

          <mat-form-field class="col-6 mx-0 px-1" appearance="outline">
            <mat-label>Slip Number</mat-label>
            <input type="number" matInput formControlName="slipNumber" placeholder="slip number" required>
            <mat-error *ngIf="bankName.touched && bankName.errors?.required">This field is required</mat-error>
          </mat-form-field>

        </div>

        <div class="row mx-0 px-1">

          <mat-form-field class="col-6 mx-0 px-1" appearance="outline">
            <mat-label>Amount Paid (Rs.)</mat-label>
            <input matInput type="number" class="example-right-align" formControlName="totalPaid"
                   placeholder="Ex: 456,500.00" required>
            <mat-error *ngIf="bankName.touched && bankName.errors?.required">This field is required</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-6 mx-0 px-1">
            <mat-label>Date</mat-label>
            <input matInput formControlName="paymentDate" [matDatepicker]="myDatePicker" [max]="maxDate"/>
            <mat-datepicker-toggle matSuffix [for]="myDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatePicker></mat-datepicker>
            <mat-error *ngIf="paymentDate.touched && paymentDate.errors?.required">This field required
            </mat-error>
          </mat-form-field>

        </div>


        <div class="row mx-0 px-1">
          <mat-form-field class="col-12 mx-0 px-1" appearance="outline">
            <mat-label>External Note</mat-label>
            <textarea type="text" matInput formControlName="externalNote" placeholder="External Note"></textarea>
          </mat-form-field>

        </div>


        <div class="m-2">

          <h6 class="m-2">Payment Slip Copy</h6>
          <mat-divider></mat-divider>
          <br />

          <input #fileUpload type="file" multiple style="display: none" (change)="onFileUpload($event)" />

          <div id="slip" class="row m-0 p-2 border rounded" style="transition: box-shadow 2s; box-shadow: 0 0 0 2px white; overflow: hidden">
            <div class="m-1 image-container" (click)="openImagePreview()" *ngIf="slip">
              <button (click)="removeImage()" type="button" class="close" aria-label="Close" style="position: absolute; top: 5px; right: 5px; z-index: 2">
                <span aria-hidden="true">&times;</span>
              </button>
              <img class="image" [attr.src]="slip" alt="Image" />
            </div>
            <p class="text-secondary mt-3" *ngIf="!slip && !slipDownloadError && slipDownloadProgress === 0">Not selected.</p>
            <p class="text-danger mt-3" *ngIf="slipDownloadError">Could not load documents. {{ slipDownloadError }} <u><a style="cursor: pointer" (click)="downloadSlip()">Try again</a></u></p>
            <p class="text-secondary mt-3" *ngIf="slipDownloadProgress > 0 && slipDownloadProgress < 100">Please wait while the documents are being downloaded...</p>
            <p class="text-secondary mt-3" *ngIf="slipUploadProgress">Please wait while the slip is being uploaded...</p>
          </div>

          <div class="row mx-0 px-0" *ngIf="slipDownloadProgress > 0 && slipDownloadProgress < 100">
            <mat-progress-bar style="width: calc(100% + 30px); margin: 0 -15px 0 -15px" mode="determinate" [value]="slipDownloadProgress"></mat-progress-bar>
          </div>

          <div class="row mx-0 px-0" *ngIf="slipUploadProgress">
            <mat-progress-bar style="width: calc(100% + 30px); margin: 0 -15px 0 -15px" mode="determinate" [value]="slipUploadProgress"></mat-progress-bar>
          </div>

          <div class="d-flex flex-row my-2">
            <button (click)="clickFileUpload()" type="button" mat-raised-button style="background-color: #041c47;color: white;">Change</button>
          </div>

        </div>

        <div class="row mx-0 my-3 px-1">
          <mat-checkbox formControlName="status" class="example-margin">Confirm payment</mat-checkbox>
        </div>

        <div class="row mx-2">
          <div *ngIf="error" class="alert alert-warning col">{{ error }}</div>
        </div>

        <div class="row mx-2">
          <div *ngIf="success" class="alert alert-success col">Payment uploaded successfully!</div>
        </div>

        <div class="mb-3 mx-2 d-flex flex-row-reverse">
          <button (click)="submitForm()" type="button" mat-raised-button style="background-color: #041c47; color: white;" class="mx-1">Update</button>
        </div>

      </div>

    </form>

  </div>

</div>
