<section class="aboutcontainer">
    <h1 class="text-center mb-5"> About Us</h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio culpa facere impedit quidem at earum rem recusandae eos mollitia quasi quod libero veritatis, excepturi minima reprehenderit delectus porro eum nulla.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio culpa facere impedit quidem at earum rem recusandae eos mollitia quasi quod libero veritatis, excepturi minima reprehenderit delectus porro eum nulla.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio culpa facere impedit quidem at earum rem recusandae eos mollitia quasi quod libero veritatis, excepturi minima reprehenderit delectus porro eum nulla.
    </p>
    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Twitter</a>
        <a href="#">LinkedIn</a>

    </div>
</section>