<div>
  <form (ngSubmit)="onSubmit()">

    <mat-form-field style="width: 100%; margin-bottom: 15px">
      <mat-label>Academic Year</mat-label>
      <input type="text" matInput [formControl]="academicYear" placeholder="2020" />
      <mat-error *ngIf="academicYear.touched && academicYear.errors?.required">This field is required</mat-error>
      <mat-error *ngIf="academicYear.touched && !academicYear.errors?.required && academicYear.errors?.pattern">Invalid Entry</mat-error>
    </mat-form-field>

    <div>
      <button type="submit" mat-raised-button>OK</button>
      <button type="button" mat-flat-button (click)="onNoClick()">Cancel</button>
    </div>

  </form>
</div>
