<app-navbar></app-navbar>

<header>
  <section class="up">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/banner1.jpg" class="d-block w-100" alt="...">
          <div class="homecontent">
            <h1><span class="yellowtext"> Better</span> Education<span class="yellowtext"> For</span> A <span
              class="yellowtext"> Better</span> World</h1>
            <br>
            <a routerLink="class" class="btn">Find Classes Here</a>&nbsp;

          </div>
        </div>
        <div class="carousel-item">
          <img src="../../assets/banner2.jpg" class="d-block w-100" alt="...">
          <div class="homecontent">
            <h1><span class="yellowtext"> Education</span> is The<span class="yellowtext"> Backbone</span> Of The<span
              class="yellowtext"> Nation</span></h1>
            <br>
            <a routerLink="class" class="btn">Find Classes Here</a>&nbsp;

          </div>
        </div>
        <div class="carousel-item">
          <img src="../../assets/banner3.jpg" class="d-block w-100" alt="...">
          <div class="homecontent">
            <h1><span class="yellowtext"> Better</span> Education<span class="yellowtext"> For</span> A <span
              class="yellowtext"> Better</span> World</h1>
            <br>
            <a routerLink="class" class="btn">Find Classes Here</a>&nbsp;

          </div>
        </div>
        <div class="carousel-item">
          <img src="../../assets/banner4.jpg" class="d-block w-100" alt="...">
          <div class="homecontent">
            <h1><span class="yellowtext"> Better</span> Education<span class="yellowtext"> For</span> A <span
              class="yellowtext"> Better</span> World</h1>
            <br>
            <a routerLink="class" class="btn">Find Classes Here</a>&nbsp;

          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
</header><br><br>
<!-- Cards div -->
<div id="cards">
  <div class="container bootstrap snippets bootdey">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="block product shadow-lg">
          <!-- <fa-icon  [icon]="faLaptop" ></fa-icon>-->
          <h2 class="product-title">Enroll Online Classes</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisg elitm Ut tincidunt purus iaculis
          </p>
          <a routerLink="class" class="btn">Enroll Now</a>&nbsp;
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="block product shadow-lg">
          <!--<fa-icon  [icon]="faUsers" ></fa-icon>-->
          <h2 class="product-title">Highly Qualified Teachers</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisg elitm Ut tincidunt purus iaculis
          </p>
          <a routerLink="teachers" class="btn">Read More</a>&nbsp;

        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="block product shadow-lg">
          <!-- <fa-icon  [icon]="faTrophy" ></fa-icon>-->

          <h2 class="product-title">Students' Success</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisg elitm Ut tincidunt purus iaculis
          </p>
          <a routerLink="about" class="btn">Read More</a>&nbsp;
        </div>
      </div>
    </div>
  </div>
</div>


<!-- middle text and image section -->
<section class="middle">
  <div class="container">
    <h3>Welcome to Ozone College</h3>
    <div class="row">
      <div class="col-md-12">
        <img src="../../assets/bluecollegegirl.jpg"/>
        <p>Lots of text here...With the four tiers of grids available you're bound to run into issues where, at certain
          breakpoints, your columns don't clear quite right as one is taller than the other. To fix that, use a
          combination of a .clearfix and Lots of text here...With the four tiers of grids available you're bound to run
          into issues where, at certain breakpoints, your columns combination of a .clearfix and o
          <br><br>Lots of text here...With the four tiers of grids available you're bound to run into issues where, at
          certain breakpoints, your columns don't clear quite right as one is taller than the other. To fix that, use a
          combination of a .clearfix and Lots of text here...With the four tiers of grids available you're bound to run
          into issues where, at certain breakpoints, your columns don't clear quite right as</p>
        <br>
        <a routerLink="about" class="btn">Read More</a>
      </div>
    </div>
  </div>
</section>

<div class="bottom">
  <div class="contact">
    <img src="../../assets/walkingstudents.jpg" class="d-block w-100 backgroundimage" alt="...">
    <div class="contactcontent">
      <h1>Here What<span class="yellowtext"> Our Students</span> Say</h1>
      <br><img class="girl" src="../../assets/girl.png">

      <br><br><br><br><br><br> <h5>Michelle Shama
      <br>2020 A/L (MATHS)
    </h5>
      <br>
      <p>Lots of text here...With the four tiers of grids available you're bound to run into issues where, at certain
        breakpoints, your columns don't clear quite right as one is taller than the other. To fix that, use a
        combination of a .clearfix and Lots of text here...With the four tiers of grids available you're bound to run
        into issues where, at certain breakpoints, your columns don't clear quite right as one is taller than the other.
        To fix that, use a combination of a .clearfix and
        <br>Lots of text here...With the four tiers of grids available you're bound to run into issues where, at certain
        breakpoints, your columns don't clear quite right as one is taller tha the other. To fix that, use a combinat of
        a .clearfix and Lots of text here...With the four tiers of grids available you're bound to run into issues
        where, at certain breakpoints, your columns don't clear quite right as one is taller than the other. To fix
        that, use a combination of a .clearfix and o</p>

    </div>
  </div>
</div>

<app-footer></app-footer>
