<mat-card class="authentication">

  <mat-card-header>
    <mat-card-title>Reset Password</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <br/>

  <form *ngIf="!successful; else elseBlock" [formGroup]="passwordResetForm" (ngSubmit)="resetPassword()" autocomplete="off">

    <mat-card-content>

      <mat-card-subtitle>
        Set up you new password.
      </mat-card-subtitle>

      <ejs-tooltip id='tooltip_1' content="tooltip content" target="#password-group" position="RightBottom">
        <ng-template #content>
          <ul style="padding: 0; margin: 5px 10px 5px 10px; list-style-type: none">
            <li>
              <i *ngIf="passwordConstraints.capitalLetters" class="fa fa-check text-success"></i>
              <i *ngIf="!passwordConstraints.capitalLetters" class="fa fa-times text-danger"></i> At least one capital letter
            </li>
            <li>
              <i *ngIf="passwordConstraints.numbers" class="fa fa-check text-success"></i>
              <i *ngIf="!passwordConstraints.numbers" class="fa fa-times text-danger"></i> At leas one number
            </li>
            <li>
              <i *ngIf="passwordConstraints.symbols" class="fa fa-check text-success"></i>
              <i *ngIf="!passwordConstraints.symbols" class="fa fa-times text-danger"></i> At least one symbol
            </li>
            <li>
              <i *ngIf="passwordConstraints.length" class="fa fa-check text-success"></i>
              <i *ngIf="!passwordConstraints.length" class="fa fa-times text-danger"></i> More than 8 characters
            </li>
          </ul>
        </ng-template>
        <mat-form-field id="password-group" appearance="outline" class="input-field" style="font-size: 15px">
          <mat-label>Password</mat-label>
          <input [type]="passwordVisible.password ? 'text' : 'password'" matInput formControlName="password" />
          <button type="button" mat-button matSuffix mat-icon-button aria-label="hide" (click)="passwordVisible.password = !passwordVisible.password">
            <mat-icon *ngIf="!passwordVisible.password">visibility</mat-icon>
            <mat-icon *ngIf="passwordVisible.password">visibility_off</mat-icon>
          </button>
          <mat-error *ngIf="password.touched && password.errors?.required">This field is required</mat-error>
        </mat-form-field>
      </ejs-tooltip>

      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Confirm Password</mat-label>
        <input [type]="passwordVisible.confirmPassword ? 'text' : 'password'" matInput formControlName="confirmPassword" />
        <button type="button" mat-button matSuffix mat-icon-button aria-label="hide" (click)="passwordVisible.confirmPassword = !passwordVisible.confirmPassword">
          <mat-icon *ngIf="!passwordVisible.confirmPassword">visibility</mat-icon>
          <mat-icon *ngIf="passwordVisible.confirmPassword">visibility_off</mat-icon>
        </button>
        <mat-error *ngIf="confirmPassword.touched && confirmPassword.errors?.required">This field is required</mat-error>
        <mat-error *ngIf="confirmPassword.touched && !confirmPassword.errors?.required && confirmPassword.errors?.incorrect">Passwords do not match</mat-error>
      </mat-form-field>

      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>

    </mat-card-content>

    <mat-card-actions align="right">

      <button type="submit" mat-button [disabled]="passwordResetForm.invalid" style="margin-right: 10px">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" [hidden]="!progress"></span>
        Submit
      </button>

    </mat-card-actions>

  </form>

  <ng-template #elseBlock>

    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <mat-icon mat-list-icon class="text-success">check</mat-icon>
          <div mat-line>Password reset successful.</div>
          <div mat-line>Please login with your new password.</div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>

    <mat-card-actions align="right" class="mx-0">

      <button type="submit" mat-stroked-button color="primary" [routerLink]="['../login']">
        Login
      </button>

    </mat-card-actions>

  </ng-template>

</mat-card>
