<div class="card">

  <div class="card-header">
    <h5>Edit Payment Details</h5>
  </div>

  <form [formGroup]="editPaymentForm">

    <div class="card-body">

      <div class="row" style="margin: -20px -20px 10px -20px; height: 5px">
        <mat-progress-bar [hidden]="!editPaymentProgress" mode="query"></mat-progress-bar>
      </div>

      <h6>Depositor Details</h6>
      <mat-divider style="margin-left: -20px; margin-right: -20px"></mat-divider>
      <br />

      <div class="row mb-2" >

        <mat-form-field class="col-4 mx-0 px-1" appearance="outline">
          <mat-label>Registration Number</mat-label>
          <input (keyup)="term$.next($event.target.value)" (ngModelChange)="toggleProgress()" type="text" matInput formControlName="studentID" placeholder="Ex: 184183R">
          <mat-error *ngIf="studentID.touched && !studentID.errors?.required && studentID.errors?.pattern">Invalid input</mat-error>
          <mat-error *ngIf="studentID.touched && !studentID.errors?.required && !studentID.errors?.pattern">Student ID not found</mat-error>
        </mat-form-field>

        <mat-form-field class="col-8 mx-0 px-1" appearance="outline">
          <mat-label>Full Name</mat-label>
          <input type="text" matInput formControlName="fullName" placeholder="full name" readonly>
        </mat-form-field>

      </div>

      <div class="row mb-2 px-1">
        <button [disabled]="studentIDNotFound" (click)="getPaymentDetails()"  type="button" class="btn btn-primary">Edit</button>
      </div>

      <div class="row mb-2 px-1">
        <div *ngIf="error" class="alert alert-danger col">{{ error }}</div>
      </div>

      <div class="row px-1">
        <div *ngIf="studentIDNotFound" class="alert alert-warning col">No student found with this ID</div>
      </div>

    </div>

  </form>

  <mat-accordion>
    <div *ngFor="let item of dataSource" >
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Installment {{dataSource.indexOf(item)+1}}
          </mat-panel-title>
          <mat-panel-description>
            Installment {{dataSource.indexOf(item)+1}} Details {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="mt-3" style="margin-right: -20px; margin-left: -20px">
          <app-view-payment-details [edit]="true" [position]="dataSource.indexOf(item)" [data]="item" (deleteSelectedPayment)="deleteSelectedPayment($event)"></app-view-payment-details>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-accordion>

</div>
