.scale {
  background-color: #e3e3e3 !important;
  width: calc(100% - 4px);
  transition: width 0.2s;
  z-index: 2;
}

.hidden {
  display: none;
}

.scale:hover {
  z-index: 99999;
  width: var(--width);
  opacity: 0.8;
  background-color: black !important;
  color: white;
  font-size: 12px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.rotate {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.scale:hover .rotate {
  display: none;
}

.scale:hover .hidden {
  display: block;
}





