<section class="course" id="course" >

    <h1 class="heading">Our Classes</h1>
    <h3 class="title">All courses are designed to fit the new curriculum...</h3>

    <div class="container-fluid">
        <div class="row">
          <div class="content col-sm-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Neque vitae tempus quam pellentesque nec nam. Sit amet dictum sit amet justo donec enim. Sed felis eget velit aliquet sagittis. Etiam sit amet nisl purus in. Sed cras ornare arcu dui vivamus. Semper viverra nam libero justo laoreet sit amet cursus sit. Arcu non sodales neque sodales ut etiam sit amet. Et leo duis ut diam quam. Sit amet mattis vulputate enim nulla. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Magna fringilla urna porttitor rhoncus dolor purus.</p>
               <a href="#"><button>Learn more</button></a>
          </div>
        
          <div class="image col-sm-5">
            <img src="../../assets/images/class.png" alt="about image">
          </div>
        </div>
        </div>
  
    <div class="container">
  
      
        <div class="box">
          <div class="box-content">
            <i class="fas fa-book"></i>
          <h3 >Maths Stream</h3>
          <h4 >Combine Maths</h4>
          <h4 >Chemistry</h4>
          <h4 >Physics</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <a href="#"><button>learn more</button> </a>
          </div>
          
        </div>
  
        <div class="box">
          <div class="box-content">
            <i class="fas fa-book"></i>
          <h3 >Science Stream</h3>
          <h4 >Biology</h4>
          <h4 >Chemistry</h4>
          <h4 >Physics</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <a href="#"><button>learn more</button> </a>
          </div>
          
        </div>
  
        <div class="box">
          <div class="box-content">
            <i class="fas fa-book"></i>
          <h3 >Commerce stream</h3>
          <h4 >Business</h4>
          <h4 >Accounting</h4>
          <h4 >Economics</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <a href="#"><button>learn more</button> </a>
          </div>
          
        </div>
  
        <div class="box">
          <div class="box-content">
            <i class="fas fa-book"></i>
          <h3 >Art stream</h3>
          <h4 >Sinhala</h4>
          <h4 >Politics</h4>
          <h4 >Other</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <a href="#"><button>learn more</button> </a>
          </div>
          
        </div>
        <div class="box">
          <div class="box-content">
            <i class="fas fa-book"></i>
          <h3 >Technology stream</h3>
          <h4 >Electrical</h4>
          <h4 >Engineering</h4>
          <h4 >Bio</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <a href="#"><button>learn more</button> </a>
          </div>
          
        </div>
        <div class="box">
          <div class="box-content">
            <i class="fas fa-book"></i>
          <h3 >Languages</h3>
          <h4 >French</h4>
          <h4 >English</h4>
          <h4 >Other</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <a href="#"><button>learn more</button> </a>
          </div>
          
        </div>
       
       
     
    </div>
  
  </section>
  
  
