<nav class="navbar navbar-expand-lg navbar-light">
  <a class="#" routerLink="" ><img  class="logo" src="../assets/logo.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="class">Classes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contactus">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="register">Register</a>
      </li>
      </ul>
  </div>
</nav>
<router-outlet></router-outlet>

<!-- footer -->
<footer class="nb-footer">
<div class="container">
<div class="row">
<div class="col-sm-12">
<div class="about">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus autem dolorem sunt voluptatum quidem, inventore soluta? Provident incidunt, dolorum velit quibusdam commodi voluptates, similique quaerat, ea excepturi in esse culpa.</p>
  <div class="social-media">
    <ul class="list-inline">
      <li><a href="#" title=""><i class="fa fa-facebook"></i></a>
      <a href="#" title=""><i class="fa fa-twitter"></i></a>
      <a href="#" title=""><i class="fa fa-google-plus"></i></a>
      <a href="#" title=""><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="footer-info-single">
  <h2 class="title">Help Center</h2>
  <ul class="list-unstyled">
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> How to Pay</a></li>
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> FAQ's</a></li>
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Sitemap</a></li>
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Info</a></li>
  </ul>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="footer-info-single">
  <h2 class="title">Our information</h2>
  <ul class="list-unstyled">
    <li><a routerLink="about" title=""><i class="fa fa-angle-double-right"></i> About Us</a></li>
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> FAQ's</a></li>
    <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Sell Your Items</a></li>
    <li><a routerLink="contactus" title=""><i class="fa fa-angle-double-right"></i> Contact Us</a></li>
  </ul>
</div>
</div>

<div class="col-md-3 col-sm-6">
<div class="footer-info-single">
  <h2 class="title">Security & privacy</h2>
  <ul class="list-unstyled">
    <li><a href="" title=""><i class="fa fa-angle-double-right"></i> Terms Of Use</a></li>
    <li><a href="" title=""><i class="fa fa-angle-double-right"></i> Privacy Policy</a></li>
    <li><a href="" title=""><i class="fa fa-angle-double-right"></i> Return / Refund Policy</a></li>
    <li><a href="" title=""><i class="fa fa-angle-double-right"></i> Store Locations</a></li>
  </ul>
</div>
</div>

<div class="col-md-3 col-sm-6">
  <div class="footer-info-single">
    <h2 class="title">Opening hours</h2>
    <p>Mon - Thurs<span class="space1"></span>7.30.am - 8.pm</p>
    <p>Fri - Sat<span class="space2"></span>  7.30.am - 7.pm</p>
    <p>Sun<span class="space3"></span> 7.30.am - 6.pm</p>
  </div>
  </div>
  </div>
</div>

<section class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
         <p>Copyright © 2021. Ozone College.</p>
      </div>
      <div class="col-sm-6"></div>
    </div>
  </div>
</section>
</footer>