<section class="staff" id="staff">
    <div class="heading">Our Staff</div>
    <div class="title">We have a staff with the most perfect experience...</div>

    <div class="content">
        <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla malesuada pellentesque elit eget gravida cum sociis natoque penatibus. Turpis egestas pretium aenean pharetra magna ac. Elit ut aliquam purus sit amet luctus venenatis. Netus et malesuada fames ac. Eget nunc lobortis mattis aliquam faucibus. Aliquam ut porttitor leo a diam sollicitudin tempor. Senectus et netus et malesuada fames ac turpis egestas. Suspendisse sed nisi lacus sed viverra tellus in hac habitasse. Vitae auctor eu augue ut. Dictum varius duis at consectetur lorem. Et malesuada fames ac turpis egestas sed tempus urna.
<br><br>
            Nunc congue nisi vitae suscipit tellus mauris. Nullam non nisi est sit amet facilisis magna etiam tempor. Pellentesque habitant morbi tristique senectus et netus et malesuada. Cras adipiscing enim eu turpis. Orci porta non pulvinar neque laoreet. Scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis. Elit scelerisque mauris pellentesque pulvinar pellentesque. Id donec ultrices tincidunt arcu non sodales neque. Magna fringilla urna porttitor rhoncus dolor purus non enim. Consequat semper viverra nam libero justo. Vestibulum morbi blandit cursus risus at. Tempor commodo ullamcorper a lacus. Tortor consequat id porta nibh venenatis cras sed. Vitae sapien pellentesque habitant morbi tristique senectus. Massa massa ultricies mi quis. Purus in mollis nunc sed id semper.</P>
        </div>
 
<div class="container">
  
      <div class="stream">
        <h3>Maths Stream</h3>
      </div>
        <div class="stream-content">
  <div class="box">
    <div class="image">
      <img src="../../assets/images/teacher1.jpg" alt="teacher1">
    </div>
   
    <h3>Mr.Chandana dahanayaka</h3>
    <h4>Bsc.(Hons)Pure.Maths</h4>
  </div>

  <div class="box">
    <div class="image">
      <img src="../../assets/images/teacher2.png" alt="teacher2">
    </div>
   
    <h3>Mr.Mihil Samaraweera</h3>
  <h4>Bsc.Chemistry</h4>
  </div>

  <div class="box">
    <div class="image">
      <img src="../../assets/images/teacher3.png" alt="teacher1">
    </div>
   
    <h3>Mr.Nishantha Perera</h3>
    <h4>Bcs.Physics</h4>
  </div>

</div>

<div class="stream">
  <h3>Science Stream</h3>
  </div>
  <div class="stream-content">
  <div class="box">
    <div class="image">
      <img src="../../assets/images/teacher4.png" alt="teacher1">
    </div>
   
    <h3>Mr.Ajith Pushpakumara</h3>
    <h4>Bsc.(Hons)Biology</h4>
  </div>

  <div class="box">
    <div class="image">
      <img src="../../assets/images/teacher2.png" alt="teacher2">
    </div>
   
    <h3>Mr.Mihil Samaraweera</h3>
  <h4>Bsc.Chemistry</h4>
  </div>

  <div class="box">
    <div class="image">
      <img src="../../assets/images/teacher3.png" alt="teacher1">
    </div>
   
    <h3>Mr.Nishantha Perera</h3>
    <h4>Bcs.Physics</h4>
  </div>

  
</div>
  <div class="stream">
    <h3>commerce Stream</h3>
  </div>
    <div class="stream-content">
  <div class="box">
    <div class="image">
      <img src="../../assets/images/teacher7.jpeg" alt="teacher1">
    </div>
   
    <h3>Mr.Charaka Dananjaya</h3>
    <h4>Bsc.(Hons)Accounting</h4>
  </div>

  <div class="box">
    <div class="image">
      <img src="../../assets/images/teacher9.jpg" alt="teacher1">
    </div>
   
    <h3>Mr.Lucky chathuranga</h3>
    <h4>Bcs.Econ</h4>
  </div>
  <div class="box">
    <div class="image">
      <img src="../../assets/images/teacher8.jpg" alt="teacher1">
    </div>
   
    <h3>Mr.Amila Madanayaka</h3>
      <h4>Bcs.Business</h4>
  </div>


  <div class="stream">
    <h3>art Stream</h3>
  </div>
    <div class="stream-content">
  
  
  <div class="box">
    <div class="image">
      <img src="../../assets/images/teacher9.jpg" alt="teacher1">
    </div>
   
     <h3>Name</h3>
    <h4>degree</h4>
  </div>
  <div class="box">
    <div class="image">
      <img src="../../assets/images/teacher9.jpg" alt="teacher1">
    </div>
   
    <h3>Name</h3>
    <h4>degree</h4>
  </div>
  <div class="box">
    <div class="image">
      <img src="../../assets/images/teacher9.jpg" alt="teacher1">
    </div>
   
    <h3>Name</h3>
    <h4>degree</h4>
  </div>
</div>

</div>

 

</div>

    
  </section>
  
  
