.navbar{
    background-color: #ffffff;
    padding: 10px;
    font-family: 'Poppins';
}

.navbar-toggler { 
    border-color: #ffffff;
    color: #ffffff;
 }
.navbar-light .navbar-nav .nav-link{
    color: #212F3C;
    font-size: 16px;
    font-weight: 300;
}

.navbar-light .navbar-nav .nav-link:hover{
    color:#F1C40F ;
}
.logo{
     width:16rem;
    padding-left: 35px;
    height: 4rem;
}
.navbar-light .navbar-nav .active{
    color:#F1C40F ; 
}




/*


.navbar{
    background-color: #ffffff;
    padding: 12px;
    font-family: 'Poppins';
}

.navbar-toggler { 
    border-color: #ffffff;
    color: #ffffff;
 }
 /* .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    color:yellow;
    
} */
/*

a{
    text-decoration: none;
    color: #174874;
  }
  
  .underline, .underline2{
    position: relative;
  }
  
  .underline::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #F1C40F;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }
  
  .underline2::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #114a7c;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }
  
  @media (hover: hover) and (pointer: fine) {
    .underline:hover::before, .underline2:hover::before{
      left: 0;
      right: auto;
      width: 100%;
    }
  }
  .logo{
    width:16rem;
   padding-left: 35px;
   height: 4rem;
}
.navbar-light .navbar-nav .active{
    color:#F1C40F ; 
}


*/