<nav class="navbar navbar-expand-lg navbar-light">
    <a class="#" routerLink="" ><img  class="logo" src="../../assets/logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="/" aria-current="page" routerLink="">Home</a>
        </li>&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="class">Classes</a>
        </li>&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="about">About Us</a>
        </li>&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link"  routerLinkActive="active" routerLink="achievement">Achievements</a>
        </li>&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" routerLink="login"><button class="btn" style="padding: 4px 25px;background: #F1C40F">Login</button> </a>
        </li>&nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" routerLink="register"><button class="btn"style="padding: 4px 17px;background: #F1C40F">Register</button> </a>
        </li>
        </ul>
    </div>
  </nav>
