
<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
           <img src="../../assets/young girl.jpg" alt="">
        </div>
        <div class="col-md-6 login-form-2">
            <h3>Log In</h3>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email" required/>
                    <input type="password" class="form-control" placeholder="Password " required/>
                    
                    <button class="btn btn-warning">Log In</button>
                    <!-- <a href="#" class="ForgetPwd" value="Login">Forget Password?</a> -->
                </div>
            </form>
        </div>
    </div>
</div>