<div class="row" class="mx-0 mb-2 px-1" *ngIf="getRole === 'Admin'">
  <button mat-button color="primary" routerLink="../new-requests">
    <mat-icon>arrow_back_ios_new</mat-icon> Request List
  </button>
</div>

<div class="card">

  <div class="card-header" id="top">
    <h5>Add request details</h5>
    <p class="sub-header">Fill in relevant data and click save.</p>
  </div>

  <div class="card-body">

    <div class="row" style="margin: -20px -20px 10px -20px; height: 5px">
      <mat-progress-bar [hidden]="!uploadRequestProgress" mode="query"></mat-progress-bar>
    </div>

    <form [formGroup]="requestForm" #requestFormRef="ngForm">

      <h6>Request Details</h6>
      <mat-divider style="margin-left: -20px; margin-right: -20px"></mat-divider>
      <br />

      <div class="row mb-2">

        <mat-form-field class="col-md-4 mx-0 px-1" appearance="outline">
          <mat-label>Student ID</mat-label>
          <input [readonly]="this.getRole === 'Student'" (keyup)="term$.next($event.target.value)" (ngModelChange)="toggleProgress()" type="text" matInput formControlName="studentID" placeholder="Ex: 184061R">
          <mat-error *ngIf="studentID.touched && studentID.errors?.required">This field is required</mat-error>
          <mat-error *ngIf="studentID.touched && !studentID.errors?.required && studentID.errors?.pattern">Invalid student ID</mat-error>
          <mat-error *ngIf="studentID.touched && !studentID.errors?.required && !studentID.errors?.pattern && studentIDNotFound">Student not found</mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-8 mx-0 px-1" appearance="outline">
          <mat-label>Student Name</mat-label>
          <input type="text" matInput formControlName="studentName" [readonly]="true" />
        </mat-form-field>

      </div>

      <div class="row px-1">
        <div *ngIf="studentIDNotFound" class="alert alert-warning col">No student found with this ID</div>
      </div>

      <div class="row mb-2">

        <mat-form-field class="col-md-8 mx-0 px-1" appearance="outline">
          <mat-label>Course</mat-label>
          <input type="text" matInput formControlName="course" [readonly]="true" />
        </mat-form-field>

        <mat-form-field class="col-4 mx-0 px-1" appearance="outline">
          <mat-label>Date</mat-label>
          <input matInput formControlName="submissionDate" [matDatepicker]="myDatePicker" [max]="maxDate" />
          <mat-datepicker-toggle matSuffix [for]="myDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatePicker></mat-datepicker>
          <mat-error *ngIf="submissionDate.touched && submissionDate.errors?.required">This field is required</mat-error>
        </mat-form-field>

      </div>

      <div class="row">

        <mat-form-field class="col-12 mx-0 px-1" appearance="fill">
          <mat-label>Request</mat-label>
          <mat-select formControlName="request" multiple>
            <mat-option *ngFor="let request of requestTypes" [value]="request.requestTypeID">{{ request.request }}</mat-option>
          </mat-select>
          <mat-error *ngIf="request.touched && request.errors?.required">Please select a request type</mat-error>
        </mat-form-field>

      </div>

      <div class="mt-3">

        <h6>Reasons for request</h6>
        <mat-divider style="margin-left: -20px; margin-right: -20px"></mat-divider>
        <br />

        <div formArrayName="reasons" *ngFor="let reason of reasons.controls; let i = index">

          <div class="row">

            <mat-form-field class="col-11 mx-0 px-1" appearance="outline">
              <mat-label>Reason</mat-label>
              <input type="text" matInput [formControl]="reason" />
              <mat-error *ngIf="reason.touched && reason.errors?.required">This field is required</mat-error>
            </mat-form-field>

            <div class="col-1">
              <button (click)="removeReason(i)" [disabled]="reasons.controls.length <= 1" type="button" color="warn" mat-mini-fab style="margin-top: 10px; margin-left: -10px">
                <mat-icon>remove</mat-icon>
              </button>
            </div>

          </div>

        </div>

        <div class="row px-1">
          <button (click)="addReason()" type="button" mat-raised-button color="primary">Add</button>
        </div>

        <div class="row mt-3">

          <mat-form-field class="col-12 mx-0 px-1" appearance="outline">
            <mat-label>Remarks</mat-label>
            <textarea matInput style="resize: none" rows="5" formControlName="remarks"></textarea>
          </mat-form-field>

        </div>

      </div>

      <div class="mt-3 px-1">

        <h6>Upload Relevant Documents</h6>
        <mat-divider style="margin-left: -20px; margin-right: -20px"></mat-divider>
        <br />

        <p>Relevant pages of the record book to indicate registration number and the date of registration and other relevant documents (Ex: Medical Certification, Letter of Offer, etc)</p>

        <input #fileUpload type="file" multiple style="display: none" (change)="onFileUpload($event)" />

        <div id="documents" class="row p-2 border rounded" style="box-shadow: 0 0 0 2px white; overflow: hidden">
          <div class="m-1 image-container" *ngFor="let document of documents; let i = index" (click)="openImagePreview(i)" >
            <button (click)="removeImage(i)" type="button" class="close" aria-label="Close" style="position: absolute; top: 5px; right: 5px; z-index: 2">
              <span aria-hidden="true">&times;</span>
            </button>
            <img class="image" [attr.src]="document" [attr.alt]="'Image ' + (i + 1)" />
          </div>
          <p class="text-secondary mt-3" *ngIf="documents.length === 0 && !documentDownloadError && documentDownloadProgress === 0">No items selected.</p>
          <p class="text-danger mt-3" *ngIf="documentDownloadError">Could not load documents. {{ documentDownloadError }} <u><a style="cursor: pointer" (click)="downloadDocuments()">Try again</a></u></p>
          <p class="text-secondary mt-3" *ngIf="documentDownloadProgress > 0 && documentDownloadProgress < 100">Please wait while the documents are being downloaded...</p>
        </div>

        <div class="row mx-0 px-0" *ngIf="documentDownloadProgress > 0 && documentDownloadProgress < 100">
          <mat-progress-bar style="width: calc(100% + 30px); margin: 0 -15px 0 -15px" mode="determinate" [value]="documentDownloadProgress"></mat-progress-bar>
        </div>

        <div class="row mx-0 px-0" *ngIf="documentUploadProgress">
          <mat-progress-bar style="width: calc(100% + 30px); margin: 0 -15px 0 -15px" mode="determinate" [value]="documentUploadProgress"></mat-progress-bar>
        </div>

        <div class="row mt-3">
          <button (click)="clickFileUpload()" type="button" mat-raised-button color="primary">Add</button>
        </div>

      </div>

      <div *ngIf="error" class="row px-1 mt-3 mb-0 ">
        <div class="alert alert-danger col-12">Error saving data. {{ error }}.</div>
      </div>

      <div *ngIf="documentUploadProgress > 0 && documentUploadProgress < 100" class="row px-1 mt-3 mb-0">
        <div class="alert alert-secondary col-12">Please wait while images are being uploaded...</div>
      </div>

      <div *ngIf="success" class="row px-1 mt-3 mb-0">
        <div class="alert alert-success col-12">Request successfully saved</div>
      </div>

      <div class="row mx-0 px-0 d-flex justify-content-end">

        <button [disabled]="deleteRequestProgress || uploadRequestProgress" (click)="resetForm()" type="button" mat-button class="ml-1">
          Reset
        </button>

        <button *ngIf="requestID" (click)="deleteRequest()" [disabled]="deleteRequestProgress || uploadRequestProgress" type="button" mat-button color="warn" class="ml-1">
          <span *ngIf="deleteRequestProgress" class="spinner-border spinner-border-sm"></span> Delete
        </button>

        <button (click)="submitForm()" [disabled]="uploadRequestProgress" type="submit" mat-raised-button color="primary" class="ml-1">
          <span *ngIf="uploadRequestProgress" class="spinner-border spinner-border-sm"></span>
          {{ requestID ? 'Update' : 'Submit' }}
        </button>

      </div>

    </form>

  </div>

</div>
