<mat-card class="authentication">

  <mat-card-header>
    <mat-card-title>Forgot Password</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <br/>

  <form [formGroup]="usernameForm" (ngSubmit)="checkUsername()">

    <mat-card-content>

      <mat-card-subtitle>
        We will send you an email to your recovery email with instructions to reset your password. Please enter your
        username below.
      </mat-card-subtitle>

      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Username</mat-label>
        <input type="text" matInput formControlName="username" placeholder="Ex: 184061R"/>
        <mat-error *ngIf="username.touched && username.invalid">This field is required</mat-error>
      </mat-form-field>

      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{ error }}</div>

      <div *ngIf="emailSent" class="alert alert-success mt-3 mb-0">Email sent to recovery email. Check your email to further instructions. {{ wait !== 0 ? "Send again in " + wait + "s." : "" }}</div>

    </mat-card-content>

    <mat-card-actions align="right">

      <button type="submit" mat-button [disabled]="usernameForm.invalid || wait !== 0" style="margin-right: 10px">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" [hidden]="!progress"></span>
        {{ wait === 0 && !emailSent ? "Send" : "Resend" }}
      </button>

    </mat-card-actions>

  </form>

</mat-card>
