
<app-navbar></app-navbar>
<header>
    <section class="achievement"> 
        <img src="../../assets/happy-group-friends-with-their-hands-together-middle.jpg" class="d-block w-100" alt="...">
        <div class="achievementcontent">
            <h1>Student<span class="yellowtext"> Success</span></h1>
        </div>
    </section> 
</header>
<div class="light">
	<main class="container py-2">
		<div class="h1 text-center text-dark" id="pageHeaderTitle">2020 A/L Batch</div>

		<article class="postcard light blue">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="../../assets/winners/front-view-male-student-wearing-black-backpack-holding-copybooks-files-blue-wall.jpg" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="#">Nemika Binul</a></h1>
				<!-- <div class="postcard__subtitle small">
				</div> -->
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">
					<b><p>Chemistry : A <span style="padding-left: 190px;">District Rank: &nbsp;&nbsp;1</span></p>
					<p>Physics &nbsp;&nbsp;&nbsp; &nbsp;: A <span style="padding-left: 193px;">Island Rank:&nbsp;&nbsp; 2</span></p>
					<p>C.&nbsp;Maths &nbsp;&nbsp;: A</p></b>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				
			</div>
		</article>
		<article class="postcard light red">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="../../assets/winners/smiling-asian-woman-posing-public-library.jpg" alt="Image Title" />	
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="#">Sithara Fernando</a></h1>
				<!-- <div class="postcard__subtitle small">
				</div> -->
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">
					<b><p>Chemistry : A <span style="padding-left: 190px;">District Rank: &nbsp;&nbsp;1</span></p>
					<p>Physics &nbsp;&nbsp;&nbsp; &nbsp;: A <span style="padding-left: 193px;">Island Rank:&nbsp;&nbsp; 5</span></p>
					<p>Bio&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: A</p></b>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				
			</div>
		</article>
		<article class="postcard light green">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="../../assets/winners/blue girl.jpg" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="#">Shama Nisali</a></h1>
				<!-- <div class="postcard__subtitle small">
				</div> -->
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">
					<b><p>Chemistry : A <span style="padding-left: 190px;">District Rank: &nbsp;&nbsp;1</span></p>
					<p>Physics &nbsp;&nbsp;&nbsp; &nbsp;: A <span style="padding-left: 193px;">Island Rank:&nbsp;&nbsp; 2</span></p>
					<p>C.&nbsp;Maths &nbsp;&nbsp;: A</p></b>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				
			</div>
		</article>
		<article class="postcard light yellow">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="../../assets/winners/portrait-joyful-good-looking-woman-has-islamic-views-smiles-gently-camera.jpg" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="#">Aisha Ifra</a></h1>
				<!-- <div class="postcard__subtitle small">
				</div> -->
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">
					<b><p>Chemistry : A <span style="padding-left: 190px;">District Rank: &nbsp;&nbsp;1</span></p>
					<p>Physics &nbsp;&nbsp;&nbsp; &nbsp;: A <span style="padding-left: 193px;">Island Rank:&nbsp;&nbsp; 2</span></p>
					<p>C.&nbsp;Maths &nbsp;&nbsp;: A</p></b>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				
			</div>
		</article>
	</main>
</div>
<div class="light">
	<main class="container py-2">
		<div class="h1 text-center text-dark" id="pageHeaderTitle">2019 A/L Batch</div>

		<article class="postcard light blue">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="../../assets/winners/pretty-girl-porch-university_edited.jpg" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="#">Akarsha Kiruli</a></h1>
				<!-- <div class="postcard__subtitle small">
				</div> -->
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">
					<b><p>Chemistry : A <span style="padding-left: 190px;">District Rank: &nbsp;&nbsp;1</span></p>
					<p>Physics &nbsp;&nbsp;&nbsp; &nbsp;: A <span style="padding-left: 193px;">Island Rank:&nbsp;&nbsp; 2</span></p>
					<p>C.&nbsp;Maths &nbsp;&nbsp;: A</p></b>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				
			</div>
		</article>
		<article class="postcard light red">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="../../assets/winners/closeup-happy-pretty-indian-business-woman_edited.jpg" alt="Image Title" />	
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="#">Senali Geethma</a></h1>
				<!-- <div class="postcard__subtitle small">
				</div> -->
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">
					<b><p>Chemistry : A <span style="padding-left: 190px;">District Rank: &nbsp;&nbsp;1</span></p>
					<p>Physics &nbsp;&nbsp;&nbsp; &nbsp;: A <span style="padding-left: 193px;">Island Rank:&nbsp;&nbsp; 2</span></p>
					<p>C.&nbsp;Maths &nbsp;&nbsp;: A</p></b>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				
			</div>
		</article>
		<article class="postcard light green">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="../../assets/winners/handsome-young-indian-student-man-holding-notebooks-while-standing-street.jpg" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
					<h1 class="postcard__title blue"><a href="#">Hashid Ashraf</a></h1>
				<!-- <div class="postcard__subtitle small">
				</div> -->
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">
					<b><p>Chemistry : A <span style="padding-left: 190px;">District Rank: &nbsp;&nbsp;1</span></p>
					<p>Physics &nbsp;&nbsp;&nbsp; &nbsp;: A <span style="padding-left: 193px;">Island Rank:&nbsp;&nbsp; 2</span></p>
					<p>C.&nbsp;Maths &nbsp;&nbsp;: A</p></b>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				
			</div>
		</article>
		<article class="postcard light yellow">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="../../assets/winners/students-university-campus_edited.jpg" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title yellow"><a href="#">Yuhas Kithnuka</a></h1>
				<!-- <div class="postcard__subtitle small">
				</div> -->
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">
					<b><p>Chemistry : A <span style="padding-left: 190px;">District Rank: &nbsp;&nbsp;1</span></p>
					<p>Physics &nbsp;&nbsp;&nbsp; &nbsp;: A <span style="padding-left: 193px;">Island Rank:&nbsp;&nbsp; 2</span></p>
					<p>C.&nbsp;Maths &nbsp;&nbsp;: A</p></b>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
				
			</div>
		</article>
	</main>
</div>

<app-footer></app-footer>