<header>
    <section class="contact"> 
        <img src="../../assets/group-cheerful-students-sitting-lecture-hall-before-lesson.jpg" class="d-block w-100" alt="...">
        <div class="contactcontent">
            <h1>Contact<span class="yellowtext"> Us</span></h1>
        </div>
    </section> 
</header>
 
<div class="container">
    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card1 shadow-sm">
                <!-- <div class="card-body"></div> -->
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Address
                        <br><p>No 20, 6th Cross Road, Nupe Matara, Sri Lanka <fa-icon [icon]="faMapMarkedAlt" ></fa-icon></p>
                    </li>
                    <li class="list-group-item">Email
                        <br><p>ozone@example.com<fa-icon  [icon]="faEnvelope" ></fa-icon></p>
                    </li>
                    <li class="list-group-item">Phone
                        <br><p>011-22-23-890<fa-icon  [icon]="faPhone" ></fa-icon></p>
                    </li>
                    <li class="list-group-item">Find Us On
                        <div class="social-media">
                            <ul class="list-inline">
                              <li><a href="#" title=""><i class="fa fa-facebook"></i></a>&nbsp;
                              <a href="#" title=""><i class="fa fa-twitter"></i></a>&nbsp;
                              <a href="#" title=""><i class="fa fa-google-plus"></i></a>&nbsp;
                              <a href="#" title=""><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                          </div>
                    </li>
                  </ul>
                
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card2 shadow-sm">

                <div class="card-body">
                    <form>
                        <!-- 2 column grid layout with text inputs for the first and last names -->
                        <div class="row mb-4">
                          <div class="col">
                            <div class="form-outline">
                              <input type="text" id="form6Example1" class="form-control" />
                              <label class="form-label" for="form6Example1">First name</label>
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-outline">
                              <input type="text" id="form6Example2" class="form-control" />
                              <label class="form-label" for="form6Example2">Last name</label>
                            </div>
                          </div>
                        </div>   
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                          <input type="email" id="form6Example5" class="form-control" />
                          <label class="form-label" for="form6Example5">Email</label>
                        </div>
                      
                        <!-- Number input -->
                        <div class="form-outline mb-4">
                          <input type="number" id="form6Example6" class="form-control" />
                          <label class="form-label" for="form6Example6">Phone</label>
                        </div>
                      
                        <!-- Message input -->
                        <div class="form-outline mb-4">
                          <textarea class="form-control" id="form6Example7" rows="4"></textarea>
                          <label class="form-label" for="form6Example7">Message</label>
                        </div>
                      
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-warning btn-block mb-4">Submit</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>

