<section class="about" id="about">

<!--<div class="slider">

    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="../../assets/images/slide1.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="../../assets/images/slide2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/Dinali-.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

</div>-->

<div class="about-ab ">

      <h1 class="heading">About us</h1>
      <h3 class="title">Our main goal is to provide the best education for our students...</h3>
  
   
    
    <div class="container-fluid">
    <div class="row">
      <div class="content col-sm-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Neque vitae tempus quam pellentesque nec nam. Sit amet dictum sit amet justo donec enim. Sed felis eget velit aliquet sagittis. Etiam sit amet nisl purus in. Sed cras ornare arcu dui vivamus. Semper viverra nam libero justo laoreet sit amet cursus sit. Arcu non sodales neque sodales ut etiam sit amet. Et leo duis ut diam quam. Sit amet mattis vulputate enim nulla. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Magna fringilla urna porttitor rhoncus dolor purus.</p>
           <a href="#"><button>Learn more</button></a>
      </div>
    
      <div class="image col-sm-5">
        <img src="../../assets/images/about.png" alt="about image">
      </div>
    </div>
    </div>
    
</div>



  

</section>