<section class="home">
    <img src="../../assets/classroom3.jpg" alt="classroom">

    <div class="homecontent">
        <h1>Welcome to Ozone College</h1>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Facilis earum eius<br> nihil 
            distinctio ratione, voluptatum minus quis 
            optio accusamus cum! cum<br>Saepe ipsa eveniet unde 
            aspernatur autem! Ipsa repellat nihil <br>cum voluptates!</p>
    
        <a routerLink="class" class="btn bg-warning" >Find Classes</a>&nbsp;
        <a routerLink="login" class="btn bg-light">Log In</a>
    </div>        
  
</section>
