.home img{
    width: 100%;
    height: 600px;
    object-position: center;
    object-fit: cover;
}
.homecontent{
    position: absolute;
    top: 45%;
    left: 24%;
    transform: translate(-50%,-50%);
}
.homecontent h1{
    color:#ffffff;
    font-weight: bold;
}
.homecontent p{
    color:#ffffff;
    font-size: 13px;
    left: 21%;
}
.homecontent a{
    margin-top: 10px;
}
@media screen and (max-width:600px) {
    .homecontent h1{
        top: 50%;
        left: 40%;
    }
    .home img{
        height: 700px;
    }
    /* .homecontent h1{
       font-size: 40px;
    } */
}