<div class="container-md mb-4 px-0">

  <div class="card">

    <div class="card-header">
      <h5>Registration form for teachers</h5>
      <p class="mb-1">Fill out the details to register teacher</p>
    </div>

    <div class="card-body mx-0 px-2">

      <form [formGroup]="registrationForm">

        <mat-form-field appearance="outline" class="col-12 mx-0">
          <mat-label>FirstName</mat-label>
          <input type="text" matInput formControlName="firstName" required/>
          <mat-error *ngIf="firstName.touched && firstName.errors?.required">This field is required.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-12 mx-0">
          <mat-label>Last Name</mat-label>
          <input type="text" matInput formControlName="lastName" required/>
          <mat-error *ngIf="lastName.touched && lastName.errors?.required">This field is required.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-12 mx-0">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Ex. pat@example.com" required>
          <mat-error *ngIf="email.touched && email.errors?.required">This field is required.</mat-error>
          <mat-error *ngIf="email.touched && !email.errors?.required && email.errors?.pattern">Invalid Email Address.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-12 mx-0">
          <mat-label>Mobile</mat-label>
          <input type="text" matInput formControlName="mobile" placeholder="Mobile" required>
          <mat-error *ngIf="mobile.touched && mobile.errors?.required">This field is required.</mat-error>
          <mat-error *ngIf="mobile.touched && !mobile.errors?.required && mobile.errors?.pattern">Invalid input.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-12 mx-0">
          <mat-label>Degree/Diploma</mat-label>
          <input type="text" matInput formControlName="education" placeholder="BSc. Computer Science" required/>
          <mat-error *ngIf="education.touched && education.errors?.required">This field is required.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-12 mx-0">
          <mat-label>Institute</mat-label>
          <input type="text" matInput formControlName="institute" placeholder="University of Colombo" required/>
          <mat-error *ngIf="institute.touched && institute.errors?.required">This field is required.</mat-error>
        </mat-form-field>

        <div *ngIf="error" class="col-12 mx-0">
          <div class="mx-0 alert alert-danger">{{ error }}</div>
        </div>

        <div class="col-12 mx-0 d-flex justify-content-end">
          <button (click)="resetForm()" type="button" mat-button class="mr-1">Reset Form</button>
          <button (click)="submitForm()" type="submit" mat-raised-button style="background: rgb(22, 22, 73);color: #fff;" class="ml-1">
            <span *ngIf="registerStudentProgress" class="spinner-border spinner-border-sm mr-1"></span>
            Register Teacher
          </button>
        </div>

      </form>

    </div>

  </div>

</div>
