
<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
           <img src="../../assets/high-view-woman-writing-notepad.jpg" alt="">
        </div>
        <div class="col-md-6 login-form-2">
            <h3>Create Account</h3>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Full Name *" value="" required/>
                    <input type="text" class="form-control" placeholder="Email *" required/>
                    <input type="password" class="form-control" placeholder="Password *" required/>
                    <input type="password" class="form-control" placeholder="Confirm Password *" required/>
                    <input type="text" class="form-control" placeholder="Mobile No *" required/>
                    <input type="text" class="form-control" placeholder="School *" required/>
                    <select class="form-select" id="validationCustom04" required>
                        <option selected disabled value="">Select Your Stream</option>
                        <option>Combined Maths</option>
                        <option>Bio-Science</option>
                        <option>Commerce</option>
                        <option>Arts</option>
                        <option>Technology</option>
                        <option>Professional Courses</option>
                      </select>
                      <select class="form-select" id="validationCustom04" required>
                        <option selected disabled value="">Select Your Exam Year</option>
                        <option>2021</option>
                        <option>2022</option>
                        <option>2023</option>
                        <option>2024</option>
                      </select>
                      <select class="form-select" id="validationCustom04" required>
                        <option selected disabled value="">Select Your District</option>
                        <option>Matara</option>
                        <option>Galle</option>
                        <option>Hambantota</option>
                        <option>Kalutara</option>
                        <option>Colombo</option>
                        <option>Gampaha</option>
                      </select>
                    <button class="btn btn-warning">Register Now</button>
                    <!-- <a href="#" class="ForgetPwd" value="Login">Forget Password?</a> -->
                </div>
            </form>
        </div>
    </div>
</div>